@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:200,700|Source+Sans+Pro:300,600,300italic,600italic");

html,
body {
    margin: 0;
	background-color: #000000;
    background-image: url('https://res.cloudinary.com/dw5m4wus8/image/upload/v1768451296/burning_secrets_hmfnjo.jpg');
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
	background-repeat: no-repeat;
    width: 100%;
	height: 100%;
}

#wrapper {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    color: #ffffff;
    background-color: #00000099;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.forbidden-content {
    opacity: 100%;
}

.forbidden-content p.major {
	font-size: 24pt;
	font-weight: bold;
	line-height: 1.65;
}

.forbidden-content p {
    margin: 0; 
}

.image-container {
    position: relative;
    opacity: 100%;
}

.secret-image {
    opacity: 100%;
    height: 50%;
    width: 50%;
}

footer {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: 300;
	line-height: 1.65;
}

footer .copyright {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer .copyright li {
    display: inline;
}

footer .copyright li:last-child::after {
    content: "";
}
